<div class="menu" data-updatefunc="drawBackground">
    <div class="label draggable">
        Background
    </div>
    <div class="content hidden">
        <div>
            <label for="background_primaryColor">Primary Background Color</label>
            <input type="color" class="updateCard" id="background_primaryColor" name="background_primaryColor"
                value="#363636"><br>

            <label for="background_secondaryColor">Secondary Background Color</label>
            <input type="color" class="updateCard" id="background_secondaryColor" name="background_secondaryColor"
                value="#363636">
        </div><br>
        <div>
            <label for="background_cardTemplate">Card Background Template</label>
            <select name="background_cardTemplate" id="background_cardTemplate" class="updateCard">
                <option value="normal">Normal</option>
                <option value="split">Split</option>
                <option value="gradient">Gradient</option>
                <option value="centralGradient">Central Gradient</option>
                <option value="radialGradient">Radial Gradient</option>
            </select>
        </div>
        <div>
            <label for="background_round">Roundness</label>
            <input id="background_round" name="background_round" type="range" min="0" max="3" value="1" step="0.1"
                class="updateCard">
        </div>
    </div>
</div>