<div class="menu" data-updatefunc="drawCurrentTransformation">
    <div class="label draggable">
        Current Transformation
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="currentTransformation" data-defaultX="600" data-defaultY="500"></component><br>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="currentTransformation" 
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="None"
        data-defaultAlign="center"
        data-defaultStroke="0"
        data-noTextSize
        data-defaultBaseline="bottom"
        data-textNoSave
        ></component><br>
    </div>
</div>