<div class="menu" data-updatefunc="drawCurrentTransformation">
    <div class="label draggable">
        Current Transformation
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="currentTransformation" data-defaultX="600" data-defaultY="500"></component><br>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="currentTransformation" 
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="None"
        data-defaultAlign="center"
        data-defaultStroke="0"
        data-noTextSize
        data-defaultBaseline="bottom"
        data-textNoSave
        ></component><br>
        <!-- <div>
            <label for="currentTransformationOrientation">Text Alignment</label>
            <select name="currentTransformationOrientation" id="currentTransformationOrientation" class="updateCard">
                <option value="left">Left</option>
                <option value="center" selected>Center</option>
                <option value="right">Right</option>
            </select>
        </div>
        <div>
            <label for="currentTransformation">Transformation Name</label>
            <input type="text" id="currentTransformation" name="currentTransformation" value="None" class="updateCard">
        </div>
        <div>
            <label for="currentTransformationColor">Text Color</label>
            <input type="color" id="currentTransformationColor" name="currentTransformationColor" value="#000000" class="updateCard">
        </div> -->
    </div>
</div>