<div class="menu" data-updatefunc="drawLevelsText" data-optionalcomponent="xp">
    <div class="label draggable">
        Level Text
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="level" data-defaultX="10" data-defaultY="5"></component><br>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="level"
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="0"
        data-defaultAlign="left"
        data-defaultStroke="0"
        data-defaultBaseline="top"
        data-textNoSave
        ></component><br>
        <!-- <div>
            <label for="levelOrientation">Level Alignment</label>
            <select name="levelOrientation" id="levelOrientation" class="updateCard">
                <option value="left" selected>Left</option>
                <option value="center">Center</option>
                <option value="right">Right</option>
            </select>
        </div>
        <div>
            <label for="level">Level</label>
            <input type="text" name="level" id="level" value="0" class="updateCard">
        </div>
        <div>
            <label for="levelTextColor">Text Color</label>
            <input type="color" name="levelTextColor" id="levelTextColor" class="updateCard">

            <label for="levelTextSize">Text Size</label>
            <input type="range" name="levelTextSize" id="levelTextSize" class="updateCard" min="0.5" max="1.5" value="1"
                step="0.1">
        </div> -->
    </div>
</div>