<div class="menu" data-updatefunc="drawName">
    <div class="label draggable">
        Name
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="name" data-defaultX="600" data-defaultY="5"></component><br>
        <div>
            <label for="name_matchRole">Match Role Color: </label>
            <input type="checkbox" name="name_matchRole" id="name_matchRole" checked class="updateCard">
        </div>
        <div>
            <label for="name_nameType">Name Type: </label>
            <select name="name_nameType" id="name_nameType" class="updateCard">
                <option value="nickname">Nickname</option>
                <option value="username">Username</option>
            </select>
        </div>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="name"
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="Username"
        data-defaultAlign="center"
        data-defaultStroke="3"
        data-defaultBaseline="top"
        data-textNoSave
        ></component><br>
        <!-- <div>
            <label for="nameOrientation">Name Alignment</label>
            <select name="nameOrientation" id="nameOrientation" class="updateCard">
                <option value="left">Left</option>
                <option value="center" selected>Center</option>
                <option value="right">Right</option>
            </select>
        </div>
        <div>
            <label for="userName">Username/Nickname</label>
            <input type="text" id="userName" name="userName" value="Username" class="updateCard">
        </div><br>
        <div>
            <label for="nameColor">Name Color</label>
            <input type="color" id="nameColor" name="nameColor" value="#ffffff" class="updateCard">
        </div>
        <div>
            <label for="textSize">Text Size</label>
            <input id="textSize" name="textSize" type="range" min="0.5" max="1.5" value="1" step="0.1"
                class="updateCard">
        </div>
        <div>
            <label for="strokeColor">Stroke Color</label>
            <input type="color" id="strokeColor" name="strokeColor" value="#000000" class="updateCard">
        </div>
        <div>
            <label for="strokeSize">Stroke Size</label>
            <input id="strokeSize" name="strokeSize" type="range" min="0" max="5" value="3"
                class="updateCard">
        </div> -->
    </div>
</div>