<div class="menu" data-updatefunc="drawName">
    <div class="label draggable">
        Name
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="name" data-defaultX="600" data-defaultY="5"></component><br>
        <div>
            <label for="name_matchRole">Match Role Color: </label>
            <input type="checkbox" name="name_matchRole" id="name_matchRole" checked class="updateCard" onclick="toggleNameColor(this)">
        </div>
        <div>
            <label for="name_nameType">Name Type: </label>
            <select name="name_nameType" id="name_nameType" class="updateCard">
                <option value="nickname">Nickname</option>
                <option value="username">Username</option>
            </select>
        </div>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="name"
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="Username"
        data-defaultAlign="center"
        data-defaultStroke="3"
        data-defaultBaseline="top"
        data-textNoSave
        ></component><br>
    </div>

    <script>
        function comp_%id%_on_load() {
            toggleNameColor(document.getElementById("name_matchRole"));
        }
    </script>
</div>