<div class="menu" data-updatefunc="drawPfpCircle" data-requiredcomponent="pfp">
    <div class="label draggable">
        PFP Circle
    </div>
    <div class="content hidden">
        <div>
            <label for="pfpCircle_width">Circle Size: </label>
            <input type="range" name="pfpCircle_width" id="pfpCircle_width" min="3" max="15" value="10" class="updateCard">
        </div>
        <div>
            <label for="pfpCircle_color">Circle Color: </label>
            <input type="color" name="pfpCircle_color" id="pfpCircle_color" class="updateCard">
        </div>
    </div>
</div>