<div class="menu" data-updatefunc="drawPfp" data-optionalcomponent="pfpCircle xpBar wings">
    <div class="label draggable">
        Profile Image
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="pfp" data-defaultX="600" data-defaultY="260"></component><br>
        <div>
            <label for="pfp_image">Profile Image*: </label>
            <input type="text" data-nosave id="pfp_image" name="pfp_image" class="updateCard"
                value="https://cdn.discordapp.com/embed/avatars/0.png">
        </div>
        <div>
            <label for="pfp_size">Size: </label>
            <input id="pfp_size" class="updateCard" name="pfp_size" type="range" min="0.5" max="1.5" value="1" step="0.1">
        </div>
    </div>
</div>