<fieldset id="position_%id%" data-nosave>
    <legend>Position</legend>
    <div>
        <label for="%parentComp%_positionX">X Position: </label>
        <input type="number" class="updateCard" name="%parentComp%_positionX" id="%parentComp%_positionX"
            value="%defaultX%"><br>
        <label for="%parentComp%_positionY">Y Position: </label>
        <input type="number" class="updateCard" name="%parentComp%_positionY" id="%parentComp%_positionY"
            value="%defaultY%">
    </div>
    <input id="reset_%id%" type="button" value="Reset to default" class="updateCard" data-nosave>
    <script>
        function comp_%id%_init() {
            const resetButton = document.getElementById("reset_%id%");
            const positionX = document.getElementById("position_%id%").querySelector("div").querySelector("#%parentComp%_positionX");
            const positionY = document.getElementById("position_%id%").querySelector("div").querySelector("#%parentComp%_positionY");
            resetButton.addEventListener("click", () => {
                positionX.value = "%defaultX%";
                positionY.value = "%defaultY%";
            });
        }
    </script>
</fieldset>