<div class="menu" data-updatefunc="drawRank">
    <div class="label draggable">
        Leaderboard Position Text
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="rank" data-defaultX="1190" data-defaultY="5"></component><br>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="rank"
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="0"
        data-defaultAlign="right"
        data-defaultStroke="0"
        data-defaultBaseline="top"
        data-textNoSave
        ></component><br>
    </div>
</div>