<div class="menu" data-updatefunc="drawRank">
    <div class="label draggable">
        Leaderboard Position Text
    </div>
    <div class="content hidden">
        <component data-component="position" data-noscript data-parentComp="rank" data-defaultX="1190" data-defaultY="5"></component><br>
        <component data-component="textInfo" 
        data-noscript 
        data-parentComp="rank"
        data-defaultTextColor="#ffffff" 
        data-defaultStrokeColor="#000000"
        data-defaultText="0"
        data-defaultAlign="right"
        data-defaultStroke="0"
        data-defaultBaseline="top"
        data-textNoSave
        ></component><br>
        <!-- <div>
            <label for="rankOrientation">Text Alignment</label>
            <select name="rankOrientation" id="rankOrientation" class="updateCard">
                <option value="left">Left</option>
                <option value="center">Center</option>
                <option value="right" selected>Right</option>
            </select>
        </div>
        <div>
            <label for="position">Position</label>
            <input type="text" name="position" id="position" value="0" class="updateCard">
        </div>
        <div>
            <label for="positionTextColor">Text Color</label>
            <input type="color" name="positionTextColor" id="positionTextColor" class="updateCard">

            <label for="positionTextSize">Text Size</label>
            <input type="range" name="positionTextSize" id="positionTextSize" class="updateCard" min="0.5" max="1.5" value="1"
                step="0.1">
        </div> -->
    </div>
</div>