<div class="menu" data-updatefunc="drawWings" data-requiredcomponent="pfp">
    <div class="label draggable">
        Wings
    </div>
    <div class="content hidden">
        <label for="followPfp">Follow Profile Image</label>
        <input type="checkbox" class="updateCard" name="followPfp" id="followPfp" checked
            onclick="toggleWingsPosition(this)">
        <component id="wingsPosition" data-component="position" data-parentComp="wings" data-noscript class="hidden"
            data-defaultX="600" data-defaultY="300"></component><br>
        <div>
            <label for="wings_template">Wings Template: </label>
            <select name="wings_template" id="wings_template" class="updateCard">
                <option value="normal">Normal</option>
                <option value="split">Split</option>
                <option value="gradient">Gradient</option>
                <option value="centralGradient">Central Gradient</option>
                <option value="radialGradient">Radial Gradient</option>
            </select>
        </div><br>

        <div>
            <label for="wings_type">Wings Type: </label>
            <select name="wings_type" id="wings_type" oninput="toggleCustomWings(this)" class="updateCard">
                <option value="default">Default</option>
                <option value="custom">Custom</option>
            </select>
        </div>

        <div id="wings_customWings" class="hidden">
            <label for="wings_image">Wings Image*: </label>
            <input type="file" name="wings_image" id="wings_image" data-nosave class="updateCard">
            <!-- <input type="text" data-nosave id="wings_image" name="wings_image" class="updateCard" value=""> -->
        </div><br>

        <!-- <div>
            <input type="button" value="Merge Wings" onclick="mergeWings(this)">
        </div><br> -->

        <!-- <div class="menu">
            <div class="label">
                Primary Wings
            </div>
            <div class="content hidden">
                <div>
                    <label for="wingsACharacter">Character</label>
                    <select name="wingsACharacter" id="wingsACharacter" class="updateCard">
                        <option value="none">None</option>
                        <option value="aisha">Aisha</option>
                        <option value="stella">Stella</option>
                        <option value="bloom">Bloom</option>
                        <option value="tecna">Tecna</option>
                        <option value="musa">Musa</option>
                        <option value="flora">Flora</option>
                    </select>
                </div>

                
            </div>
        </div> -->

        <div>
            <label for="wingsAExample">Primary Wings Example*: </label>
            <select name="wingsAExample" data-nosave id="wingsAExample" class="updateCard">
                <option value="example1">Example 1</option>
                <option value="example2">Example 2</option>
            </select>
        </div>

        <div>
            <label for="wingsBExample">Secondary Wings Example*: </label>
            <select name="wingsBExample" data-nosave id="wingsBExample" class="updateCard">
                <option value="example1">Example 1</option>
                <option value="example2">Example 2</option>
            </select>
        </div>

        <!-- <div class="menu">
            <div class="label">
                Secondary Wings
            </div>
            <div class="content hidden">
                <div>
                    <label for="wingsBCharacter">Character</label>
                    <select name="wingsBCharacter" id="wingsBCharacter" class="updateCard">
                        <option value="none">None</option>
                        <option value="aisha">Aisha</option>
                        <option value="stella">Stella</option>
                        <option value="bloom">Bloom</option>
                        <option value="tecna">Tecna</option>
                        <option value="musa">Musa</option>
                        <option value="flora">Flora</option>
                    </select>
                </div>

                
            </div>
        </div> -->
    </div>
</div>