<div class="menu" data-updatefunc="drawXpText">
    <div class="label draggable">
        XP Text
    </div>
    <div class="content hidden">
        <div>
            <label for="xp_middleLevel">Keep in the middle of level text</label>
            <input type="checkbox" name="xp_middleLevel" id="xp_middleLevel" checked class="updateCard"
                onclick="toggleXPPosition(this)">
        </div>
        <component id="xpPosition" data-component="position" data-noscript data-parentComp="xp" data-defaultX="100"
            data-defaultY="62" class="hidden"></component><br>
        <component data-component="textInfo" data-noscript data-parentComp="xp" data-defaultTextColor="#ffffff"
            data-defaultStrokeColor="#000000" data-defaultText="0/0" data-defaultAlign="center" data-defaultStroke="0"
            data-defaultBaseline="top" data-textNoSave></component><br>
        <!-- <div>
            <label for="xpOrientation">XP Alignment</label>
            <select name="xpOrientation" id="xpOrientation" class="updateCard">
                <option value="left">Left</option>
                <option value="center" selected>Center</option>
                <option value="right">Right</option>
            </select>
        </div>
        <div>
            <label for="xp">Current Xp</label>
            <input type="text" name="xp" id="xp" value="0" class="updateCard">

            <label for="maxXp">Max Xp</label>
            <input type="text" name="maxXp" id="maxXp" value="0" class="updateCard">
        </div>
        <div>
            <label for="xpTextColor">Text Color</label>
            <input type="color" name="xpTextColor" id="xpTextColor" class="updateCard">

            <label for="xpTextSize">Text Size</label>
            <input type="range" name="xpTextSize" id="xpTextSize" class="updateCard" min="0.5" max="1.5"
                value="1" step="0.1">
        </div> -->
    </div>
</div>