<div class="menu" data-updatefunc="drawXpText">
    <div class="label draggable">
        XP Text
    </div>
    <div class="content hidden">
        <div>
            <label for="xp_middleLevel">Center text in middle of levels text</label>
            <input type="checkbox" name="xp_middleLevel" id="xp_middleLevel" checked class="updateCard"
                onclick="toggleXPPosition(this)">
        </div>
        <component id="xpPosition" data-component="position" data-noscript data-parentComp="xp" data-defaultX="100"
            data-defaultY="62" class="hidden"></component><br>
        <component data-component="textInfo" data-noscript data-parentComp="xp" data-defaultTextColor="#ffffff"
            data-defaultStrokeColor="#000000" data-defaultText="0/0" data-defaultAlign="center" data-defaultStroke="0"
            data-defaultBaseline="top" data-textNoSave></component><br>
    </div>
</div>